.active-navbar:before {
    content: "";
    border-color: transparent #CECECE;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -14px;
    top: .45em;

    position: absolute;
}

.active-navbar {
    position: relative;
}

.mobile-navbar-area {
    transition: transform 400ms;
    transform: translateX(-100%);
}
.mobile-navbar-area.open {
    transform: translateX(0%);
}