.capsule {
    font-weight: bold;
    padding: .3rem .8rem;
    margin: 4px;
    border-radius: 1rem;
    cursor: pointer;
    transition: filter 100ms;
}

.capsule.mini {
    font-weight: bold;
    padding: .1rem .5rem;
    font-size: 0.7rem;
    margin: 2px;
    border-radius: 1rem;
}

.capsule:hover {
    filter: brightness(0.7);
}